<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Patients</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">16</div>
				<div class="comment">Appointments</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">62</div>
				<div class="comment">Tickets</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Appointments">
				<a href="#">Manage</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr><td>Andy Dywer</td><td>1:00 p.m.</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Jerry Gergich</td><td>1:30 p.m.</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Leslie Knope</td><td>1:45 p.m.</td><td><span tooltip="Never Checked In!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>Ron Swanson</td><td>2:10 p.m.</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Ann Perkins</td><td>2:35 p.m.</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Tom Haverford</td><td>3:20 p.m.</td><td><span tooltip="In progress" class="text-warning"><i class="fa fa-exclamation-circle"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Patients">
				<input type="text" placeholder="Search" class="form-control input-sm" />				
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">ID</th><th>Patient Name</th><th>Appointment Time</th><th>Account</th><th>Management </tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>Joe Bloggs</td><td>3:30 p.m.</td><td>AZ23045</td><td><a href="#">Attended to?</a></td></tr>
							<tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>3:40 p.m.</td><td>AU24783</td><td><a href="#">Attended to?</a></td></tr>
							<tr><td class="text-center">3</td><td>Joe Bickham</td><td>3:45 p.m.</td><td>AM23781</td><td><a href="#">Attended to?</a></td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
